<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FormDb</servlet-name>
        <servlet-class>FormDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDB</servlet-name>
        <servlet-class>LoginDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginDb</servlet-name>
        <servlet-class>AdminLoginDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControls</servlet-name>
        <servlet-class>UserControls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProductUpload</servlet-name>
        <servlet-class>NewProductUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UniqueProIdCheck</servlet-name>
        <servlet-class>UniqueProIdCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormDb</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>conlink</param-name>
        <param-value>jdbc:mysql://localhost:3306/sptdata</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbpass</param-name>
        <param-value>root</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>LoginDB</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginDb</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControls</servlet-name>
        <url-pattern>/UserControls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProductUpload</servlet-name>
        <url-pattern>/ProductUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniqueProIdCheck</servlet-name>
        <url-pattern>/UniqueProIdCheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
        <welcome-file>Form.jsp</welcome-file>
    </welcome-file-list>
</web-app>
