<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProgDemo</servlet-name>
        <servlet-class>ProgDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regis</servlet-name>
        <servlet-class>Regis.Regis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbConnect</servlet-name>
        <servlet-class>DbConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormDb</servlet-name>
        <servlet-class>FormDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDb</servlet-name>
        <servlet-class>LoginDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetDb</servlet-name>
        <servlet-class>ForgetDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassDb</servlet-name>
        <servlet-class>ResetPassDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDb</servlet-name>
        <servlet-class>UpdateDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDb</servlet-name>
        <servlet-class>AdminDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProDb</servlet-name>
        <servlet-class>ProDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProApp</servlet-name>
        <servlet-class>ProApp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgDemo</servlet-name>
        <url-pattern>/ProgDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Regis</servlet-name>
        <url-pattern>/Regis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbConnect</servlet-name>
        <url-pattern>/DbConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormDb</servlet-name>
        <url-pattern>/FormDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDb</servlet-name>
        <url-pattern>/LoginDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetDb</servlet-name>
        <url-pattern>/ForgetDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassDb</servlet-name>
        <url-pattern>/ResetPassDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDb</servlet-name>
        <url-pattern>/UpdateDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDb</servlet-name>
        <url-pattern>/AdminDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProDb</servlet-name>
        <url-pattern>/ProDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProApp</servlet-name>
        <url-pattern>/ProApp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
